/* Blockquote
-------------------------------------------*/

blockquote{
    
    line-height: var(--lineheight-text-alt);
    border-left: var(--border-width-alt) solid var(--primary);
    padding-left: var(--space-xl);
    
    p{
        --textcolor: var(--primary);
        font-size: var(--step-5);
        font-weight: var(--font-weight-heavy);
        margin-bottom: var(--space-l);
        @include font-slant;
        line-height: var(--lineheight-text-alt);
    }        
}
