/* Headings
-------------------------------------------*/

h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5{   
   font-family: var(--titlefont);
   line-height: var(--lineheight-text-alt);
   color: var(--textcolor);
   hyphens: none;
}

h1, h2{
  font-weight: var(--font-weight-heavy);
  font-style: italic;
}

h1,
.h1 {
    font-size: var(--step-6); 
     @include font-slant;
     
     @include respond-to(desktop){
       font-size: var(--step-8);
     }
}

h2,
.h2 {
    font-size: var(--step-6);
    @include font-slant;
}

h3,
.h3 {
   font-size: var(--step-4);
   font-weight: var(--font-weight-bold);

}

h4,
.h4 {
  font-size: var(--step-3);       
  font-weight: var(--font-weight);
  font-family: var(--basefont);
  @include font-slant;
  line-height: 1.4;
}

h5,
.h5 {
  font-size: var(--step-2);
  font-weight: var(--font-weight-bold);
  font-family: var(--basefont);
  @include font-slant;
  margin-bottom: 0;
}