/* Links
-------------------------------------------*/

a, a:visited {
    color: var(--linkcolor);
    text-decoration-color: var(--linkcolor);
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.20em;
    text-decoration: underline;
    transition: all var(--duration-default) ease;
}

a:focus {
    color: var(--linkcolor);    
    outline: var(--linkcolor) dashed 2px;
    outline-offset: 0.5rem;
}
    
a:visited {
    color: var(--linkcolor); 
}
    
a:hover {
    color: var(--linkcolorhover); 
}
    
a:hover,
a:active {
    outline: 0; 
}
    
a:link {
    transition: color var(--duration-default) ease; 
}

p a{
   text-decoration: underline;
}

   
