/* Lists
-------------------------------------------*/

ul, ol {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: var(--basefont);
}

ol, ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0; 
    
    li{
       color: var(--textcolor);
    }
}

ol li {
    margin-left: var(--space-m);
    line-height: var(--lineheight-text-default); 
    list-style: number;
}
    
ol li:before {
    color: var(--primary);  
}
    
ul li:before {
    content: "• ";
    color: var(--primary );  
}

