/* Others
-------------------------------------------*/

/* Text styles */

b, strong {
    font-weight: var(--font-weight-bold); 
}

i, em {
    font-style: normal; 
    @include font-slant;
    color: var(--textcolor);
}

small {
    @include font-size(14);
    font-style: normal; 
    display: inline-block;  
}

/* Text elements */

time{
    @include font-size(16);
}

/* code text elements */

.code{    
    font-family: monospace;
    background: var(--grey-dark);
    color: var(--white);
    border-radius: 5px;
    padding: 2px 5px;
    @include font-size(15);
}