/* Paragraphs
-------------------------------------------*/

/*= regular pararaph */

p{
    @include font-size(16);
    font-size: var(--step-2);
    hyphens: none;
    color: var(--textcolor);
    line-height: var(--lineheight-text-default);
}

/*= primary pararaph */

.primary-msg{
    font-size: var(--step-3);
}

h2 + .primary-msg{
    margin-bottom: var(--space-xl);
}

/* small paragraph */

p.small{
    font-size: var(--step-1);
}