/* colors
-------------------------------------------*/

/*= primary */

.bg-primary-color{
  --textcolor: #fff;
  --linkcolor: #fff;
  --linkcolorhover: rgba(255, 255, 255, 0.5);
  
  background: var(--primary);
}

.text-primary-color {
  --textcolor: var(--primary);
}

/*= secondary */

.bg-secondary-color{
  background: var(--secondary);
}

.text-secondary-color {
  --textcolor: var(--secondary);
}

/*= tertiary */

.bg-tertiary-color{
  --textcolor: #fff;
  --linkcolor: #fff;
  --linkcolorhover: rgba(255, 255, 255, 0.5);
  
  background: var(--tertiary);
}

.text-tertiary-color {
  --textcolor: var(--tertiary);
}

/*= grey dark */

.bg-grey-dark-color{
  --textcolor: #fff;
  --linkcolor: #fff;
  --linkcolorhover: rgba(255, 255, 255, 0.5);
  
  background: var(--grey-dark);
}

.text-grey-dark-color {
  --textcolor: var(--grey-dark);
}

/*= grey light */

.bg-grey-light-color{
  --textcolor: var(--grey-dark);
  background: var(--grey-light);
}

.text-grey-light-color {
  --textcolor: var(--grey-light);
}

/*= grey regular */

.bg-grey-color{
  --textcolor: #fff;
  --linkcolor: #fff;
  --linkcolorhover: rgba(255, 255, 255, 0.5);
  
  background: var(--grey);
}

.text-grey-color {
  --textcolor: var(--grey);
}

/*= white */

.bg-white-color{
  background: var(--white);
}

.text-white-color {
  --textcolor: var(--white);
}

/*= alert */

.bg-alert-color{
  --textcolor: #fff;
  --linkcolor: #fff;
  --linkcolorhover: rgba(255, 255, 255, 0.5);
  
  background: var(--alert-color);
}

.text-alert-color {
  --textcolor: var(--alert-color);
}

