/* Content list
-------------------------------------------*/

ul.content-list,
dl.content-list{
    li,
    dt{
        list-style: none;
        background: url("../img/bullet.svg") no-repeat center left;
        padding-left: var(--space-m);
        line-height: var(--lineheight-text-default);
        font-weight: var(--font-weight-md);
        background-size: 8px;
        @include font-size(18);
        
        &:before{
            display: none;
        }
        
        a{
            text-decoration: underline;
        }
    }
    
    li:not(:last-child){
        margin-bottom: var(--space-xs);
    }
    
    &--links{
        column-count: 1;
        column-rule: 1px dashed;
        gap: var(--space-3xl);
        
        @include respond-to(desktop){
            column-count: 2;
        }
    }
    
    dd{
        margin-bottom: var(--space-m);
        margin-left: var(--space-m);
        @include font-size(18);
        font-weight: var(--font-weight-md);
        border-bottom: var(--color-border-alt) 1px dashed;
        padding-bottom: var(--space-m);
    }
}

ol.content-list{
    
    li{
        font-size: var(--step-2);
        font-weight: var(--font-weight-md);
        
        &::marker {
            color: var(--primary);
            font-weight: var(--font-weight-heavy);
        }
    }
    
    li:not(:last-child){
        margin-bottom: var(--space-xs);
    }
}

