/* container
-------------------------------------------*/

.container,
.region-row {
  margin-left: auto;
  margin-right: auto;
  width: 100%;  
  position: relative;
  padding: 0 15px;
  
  @include respond-to(tablets){
	max-width: var(--container-size);
  }
}

.container.full{
  --container-size: 100% !important;
  gap: var(--space-xl);
}



