/* Dropcap
-------------------------------------------*/

p.dropcap::first-letter,
p.dropcap:first-of-type::first-letter {
       float: left;
       font-weight: 600;
       line-height: 7.25rem;
       padding-top: 6px;
       padding-right: 15px;
       padding-left: 0;
       @include font-size(85);
       overflow: hidden;
       initial-letter: 2;
       color: var(--primary);
   }