/* Grid
-------------------------------------------*/

.grid{
  @include respond-to(tablets){
   display: grid;
   align-items: start;
  }
}

/* 2 columns */

.grid.two{
  grid-template-columns: var(--grid-2);
}

/* 3 columns */

.grid.three{
    grid-template-columns: var(--grid-3);
}

/* 4 columns */

.grid.four{
  grid-template-columns: var(--grid-4);
}

/* 5 columns */

.grid.five{
    grid-template-columns: var(--grid-5);
}

/* 8 columns */

.grid.eight{
    grid-template-columns: var(--grid-8);
}

/* 10 columns */

.grid.ten{
    grid-template-columns: var(--grid-10);
}

/* 12 columns */ 

.grid.twelve{
    grid-template-columns: var(--grid-12);
}

/* 4 + 5 columns grid */ 

.grid.grid--4-5{
   	grid-template-columns: var(--grid-4-5);
}

/* 3 + 4 columns grid */ 

.grid.grid--3-4{
     grid-template-columns: var(--grid-3-4);
}

/* Autogrid grid */

.grid.auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
}

/* Data containers for grid */

[data-gap="gap"] {
    gap: var(--space-xl); 
    align-self: start;
}
