/* Section
-------------------------------------------*/

.section{
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
  
  @include respond-to(desktop){
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl); 
  }
}