/* Page basic styles
-------------------------------------------*/

/* Root */

:root{
    font-size: 62.5%;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: var(--primary);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
    overflow-x: hidden;
    scroll-behavior: smooth; 
}

@supports (font-variant-ligatures: common-ligatures) {
  body {
  background: var(--bodycolor);
  font-feature-settings: normal;
  font-variant-ligatures: common-ligatures; 
  }
}


/* Selection styles */

::-moz-selection {
    background-color: var(--tertiary);
    color: var(--white);
    text-shadow: none; 
}
    
::selection {
    background-color: var(--tertiary);
    color: var(--white);
    text-shadow: none; 
}


/* Styled scrollbars (Critical: None) */

body::-webkit-scrollbar {
   height: 6px;
   width: 6px; 
}

body::-webkit-scrollbar-thumb {
   width: 3px;
   background-color: var(--linkcolor);
   border-radius: 3px; 
}

body::-webkit-scrollbar-track {
   background-color: rgba(0,0,0,.15);
   border-radius: 0; 
}

/* Body */

body {
    font-family: var(--basefont);
    font-size: var(--step-1); 
    font-style: normal;
    font-weight: var(--font-weight);
    color:var(--textcolor);
    width: 100%;
    text-rendering: optimizelegibility;
    @include antialiased;
    word-spacing: 1px;
    hyphens: auto;
    font-variant-ligatures: common-ligatures;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    line-height: var(--lineheight-text-default);
}

/* Figures */

figure {

    img{
        width: 100%;
    }
    
    .stroke{
       
       img{
          border: 10px solid var(--grey-light);
          aspect-ratio: 16 / 9;
          object-fit: cover;
       }
    }
    
    figcaption{
        font-size: var(--step-1);
    }
}
    
/* Images */
    
img {
    border-width: 0;
    content-visibility: auto;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    transition: all var(--duration-default) ease; 
}

img[width], img[height] {
    max-width: 100%;
}

iframe{
    width: 100%;
}

/* details */

details{
  summary > *{
    display: inline-block;
    padding-left: var(--space-xs);
  }
}

