/* Mixins
-------------------------------------------*/

/* Media-queries breakpoints */

@mixin respond-to($media) {
    @if $media == wide-handhelds {
        @media only screen and (min-width: 600px) {
            @content;
        }
    }
    @else if $media == tablets {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }
    @else if $media == desktop {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    }
    @else if $media == desktop-wide {
        @media only screen and (min-width: 1700px) {
            @content;
        }
    }
}

/* Transition */

@mixin transition{
    transition: all var(--duration-default) ease;  
}

/* Typography */

@mixin font-size($font-size: 16) {
    font-size: #{$font-size}px;
    font-size: #{calc($font-size / 10)}rem;
}

@mixin antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-slant{
    font-variation-settings: "slnt" -7;
}
    
