/* Article template two
-------------------------------------------*/

.article-template-2{
    --footer-bg: var(--grey-light);
    background: var(--white);
    
    .hero{
      picture img{
        --aspect-ratio: 1 / 1;
        
        @include respond-to(tablets){
            --aspect-ratio: 16 / 9;
            height: 65vh;
            width: 100%;
            overflow: hidden;
        }
      }
    }
    
    .post{
      padding-top: 0;
    }
    
    .post header{
      text-align: center;
      grid-column: 3 / -3;
      padding: var(--space-2xl) 0 var(--space-m);

      time{
        color: var(--grey);
      }
      
      h1{
        margin-bottom: var(--space-2xl);
      }
      
      .primary-msg{
        max-width: 50ch;
        margin-left: auto;
        margin-right: auto;
        font-family: var(--titlefont);
        font-weight: var(--font-weight-md);
        margin-bottom: var(--space-xl);
        
        @include respond-to(tablets){
          margin-bottom: 0;
        }

        &:after{
          content: "";
          width: 60px;
          height: 8px;
          background: var(--tertiary);
          display: block;
          margin: auto;
          margin-top: var(--space-xl);
        }
      }

    }
    
    .article__content{
     
      padding: 0 var(--space-m);

      grid-column: 1/-1;
      max-width: 70ch;
      margin-left: auto;
      margin-right: auto;

      p{
        font-weight: 400;
      }
      p + p{
        text-indent: 2ch;
        margin-top: 0;
      }
    }
  }
  