/* Article template one
-------------------------------------------*/

.article-template{

	aside{
	  margin-bottom: var(--space-l);
	  @include respond-to(tablets){
		  margin-bottom: 0;;
	  }
  	}

	/* post header */

	.post__header{
		margin-bottom: var(--space-2xl);
		
		time{
		  @include respond-to(desktop){
			margin-top: var(--space-xl);
			display: block;
		  }
		}
		
		header{
		  grid-column: 2 / 7;
		} 
		
		aside:first-of-type{
		  grid-column: 1 / 2;
		}
		
		aside:nth-of-type(2){
		  grid-column: 8 / -1;
		}
		
		.lead{
		  --aspect-ratio: 4 / 3;
		  
		  grid-column: 2 / 8;
		  grid-row: 2;        
		}
	}

	/* post content */
	
	.post__main{
			> *{
			  grid-column: 3 / 7
			}
			
			blockquote{
			  grid-column: 2 / -3;
			}
		}
	}