/* Article template two
-------------------------------------------*/

.article-template-4{
  --bodycolor: #e0eff1;
  --primary: #256795;
  --color-border: #256795;
  --linkcolor: #C64A3C;
  
  figure{
   grid-column: 3 / -1; 
      
    & img{
      --aspect-ratio: 16 / 9;
      
      grid-column: 3/-1;
      grid-row: 1;
    }
  }
  
  header{
    padding-bottom: var(--space-xl);
    grid-row: 2;
    grid-column: 1;
    
    h1{      
      grid-column: 1;
      margin-bottom: var(--space-xl);
      margin-top: var(--space-xl);
      
      @include respond-to(tablets){
        margin-top: 0;
      }
    }
    
    .primary-msg{
       font-family: var(--titlefont);
       
       &:before{         
         content: "";
         display: block;
         height: 8px;
         width: 100px;
         background: var(--primary);
         margin-bottom: var(--space-2xl);
         margin-top: var(--space-2xl);
       }
    } 
  }
  
  #content{
    display: contents;
  }
  
  .post{
    grid-column: 3 / -1;  

    padding-top: 0;
    border-bottom: 8px solid var(--color-border);
    border-left: 8px solid var(--color-border);
    padding-left: var(--space-xl);
    margin-top: var(--space-l);
    
  @include respond-to(tablets){
      padding-left: var(--space-3xl);
  }
    
  p:last-of-type:after{
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-left: 10px;
      background: var(--primary);
      border-radius: 3px;
    }
  }
  
   .article-4-wrapper{
    --container-size: 1280px;
   } 

  .layout-nav {
      grid-column: 3 / -1;
      justify-content: left;
      padding-bottom: var(--space-2xl);
      padding-top: var(--space-s);
      margin-top: var(--space-l);
      @include respond-to(tablets){
        margin-top: 0;
      }
  }

}
