/* Bio
-------------------------------------------*/

.bio{

  img{
    --aspect-ratio: 1 / 1;
    
    @include respond-to(desktop){
      --aspect-ratio: 3 / 4;
    }
    
    margin-bottom: var(--space-l);
    object-fit: cover;
    object-position: top;
  }
}
