/* Logo
-------------------------------------------*/

.logo{
  padding: 0 15px;
  z-index: 1;
  left: 0;
  position: absolute;
  
  
  @include respond-to(tablets){
    padding: 0 var(--space-l) var(--space-2xl) var(--space-l);
  }

  svg{
    --logo-color: #000;
    @include transition;
    fill: var(--logo-color);

    @include respond-to(tablets){
      --logo-color: var(--primary);
    }
    
    max-width: 6rem;
    
    @include respond-to(tablets){
      max-width: 10rem;
    }
  }
}

.nav-is-open .logo svg{
  fill: var(--primary); 
}