/* Special list
-------------------------------------------*/

.special-list {
    padding: var(--space-xl); 
    column-gap: var(--space-3xl);
    column-rule: var(--border-width-default) dotted var(--color-border); 
    border-radius: var(--border-radius-default);
    
    @include respond-to(desktop){
        columns: 2;
    }
  
  
    li {
      break-inside: avoid;
      border-bottom: 1px dashed var(--color-border);
      padding: var(--space-s) 0;
      font-weight: var(--font-weight-bold);
      @include font-size(18);
      line-height: 1.4;
      
      a {
        text-decoration: none;
       
      }
      
      em{
          font-weight: var(--font-weight);
      }
    }
  
    ::marker {
      font-size: var(--step-4);
      content: counters(list-item, '') ': ';
      font-weight: var(--font-weight-heavy);
      color: var(--linkcolor);
      font-family: var(--titlefont);
    }
    
    &--checklist{
        column-count: 1;
    }
}

