/* Methology section
-------------------------------------------*/

.tab-item{
  
  > summary{
    color: var(--white);
    padding: var(--space-xs);
  }
  
  header{
    border-bottom: 1px dashed var(--color-border);
    padding-bottom: var(--space-m);
    margin-bottom: var(--space-l);
  }

  
  > ul:last-of-type,
  > ol:last-of-type,
  > p:last-of-type{
    padding-bottom: var(--space-l);
  }
  
  > .content-list:last-of-type{
    margin-top: 0;
  }
  
} 

p + .tab-item:nth-of-type(1){
  margin-top: var(--space-xl);
}
